*{ padding:0; margin:0;}

html{
      font-size: 100px;
}
body{
	background-color: pink;
}

/*.clock{
	background-image: url("https://gw.alicdn.com/tps/TB1LOcqKXXXXXc5XpXXXXXXXXXX-283-327.png")
}

.colockbox{width:1250px;height:30px;background:url(../images/colockbg.png) no-repeat;overflow: hidden; color:#000000;}
.colockbox span{float:left;display:block;width:40px;height:29px;line-height:29px;font-size:20px; font-weight:bold;text-align:center;color:#ffffff; margin-right:22px;}*/
.wrapper{
	width: 100%;
	position: relative;
}
#clockbox
{	
    width: 100%;
	color:#000;
	margin-top: 0.8rem;
}
#clockbox img{
	width: 2.9rem;
	height: 3.27rem;
	margin-left: 0.46rem;
}

#clockbox span{
	position: absolute;
	font-size: 0.29rem;
	top:2.05rem;
}

#clockbox span.day{
	left:1.02rem;

}
#clockbox span.hour{
	left:1.61rem;
	
}
#clockbox span.minute{
	left:2.22rem;
}
#clockbox span.second{
	left: 1.4rem;
    top: 1.18rem;
    font-size: 0.57rem;
	
}

#clockbox span.norush{
        left: 1.09rem;
    top: 2.05rem;
    font-size: 0.27rem;

}


.button{
	    position: relative;
    top: -0.5rem;
	text-decoration: none;
    font: 24px/1em 'Droid Sans', sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 0.23rem;
    line-height: 1em;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    text-shadow: rgba(255,255,255,.5) 0 1px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: .5em .6em .4em .6em;
    margin: .5em;
    display: inline-block;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-top: 1px solid rgba(255,255,255,0.8);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(noise.png);
    background-image: -moz-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%), url(noise.png);
    background-image: gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(noise.png);
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
    color: hsl(0, 0%, 40%) !important;
    background-color: hsl(0, 0%, 75%);
    -webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
    -moz-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
    box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
}




