<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
<meta name="format-detection" content="telephone=no"/>
<meta name='aplus-terminal' content='1'>
<meta name="aplus-touch" content="1"/>
<title>倒计时</title>
<link href="/static/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
        {% if err %}
        window.alert("{{ err }}");
	{% endif %}
	{% if rush_number %}
        var rush = document.getElementById("rush");
	rush.style.visibility="{{ rush_button }}";
	countDown("{{ start_at }}","#clockbox");
	{% endif %}
});

function countDown(time,id){
	var day_elem = $(id).find('.day');
	var hour_elem = $(id).find('.hour');
	var minute_elem = $(id).find('.minute');
	var second_elem = $(id).find('.second');
	var rush = document.getElementById("rush");
	
	//if(typeof end_time == "string")
	//var end_time = new Date(time).getTime(),//月份是实际月份-1
	//sys_second = (end_time-new Date().getTime())/1000;
	sys_second = {{ total_sec }}
	var timer = setInterval(function(){
		if (sys_second > 1) {
        rush.style.visibility="hidden";
			sys_second -= 1;
			var day = Math.floor((sys_second / 3600) / 24);
			var hour = Math.floor((sys_second / 3600) % 24);
			var minute = Math.floor((sys_second / 60) % 60);
			var second = Math.floor(sys_second % 60);
			$(day_elem).text((day<10?"0"+day:day) + "天");//计算天
			$(hour_elem).text((hour<10?"0"+hour:hour) + "时");//计算小时
			$(minute_elem).text((minute<10?"0"+minute:minute) + "分");//计算分钟
			$(second_elem).text((second<10?"0"+second:second) + "秒");//计算秒杀
			//console.log(second_elem.html());
		} else {
                        $(day_elem).text("00天");//计算天
                        $(hour_elem).text("00时");//计算小时
                        $(minute_elem).text("00分");//计算分钟
                        $(second_elem).text("00秒");//计算秒杀
			rush.style.visibility="visible";
			clearInterval(timer);
			
			console.log(second_elem.html());
		}
	}, 1000);
}
</script>
</head>
<style>

</style>
<body>

<div class="wrapper">
	<div id="clockbox">
		<img src="https://gw.alicdn.com/tps/TB1LOcqKXXXXXc5XpXXXXXXXXXX-283-327.png">
                {% if rush_number %}
		<span class="day">{{ dis_day }}天</span> 
		<span class="hour">{{ dis_hour }}时</span> 
		<span class="minute">{{ dis_min }}分</span>
		<span class="second">{{ dis_sec }}秒</span>
                {% else %}
                <span class="norush">当前没有秒杀</span>
                {% endif %}
	</div>
        {% if rush_number %}
	<form method="post" action=".">{% csrf_token %}
                <input name="rushid" id="rushid" value="{{ rush.id }}" type="hidden">
		<input class="button" id="rush" value="开始秒杀" type="submit" style="margin-left: 1.3rem;">
	</form>
        {% endif %}
</div>

<script type="text/javascript">
      var u = navigator.userAgent;
      u = u.toLowerCase();
      var isAndroid = u.indexOf('Android') > -1;
      var el = document.getElementsByTagName('body');
      if(!isAndroid){
        el[0].className = "ua-ios";
      }

    var docEl = document.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            docEl.style.fontSize = 100 * (clientWidth / 375) + 'px';
        };
    window.addEventListener(resizeEvt, recalc, false);
    document.addEventListener('DOMContentLoaded', recalc, false);
</script>


</body>
</html>
