<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
<meta name="format-detection" content="telephone=no"/>
<meta name='aplus-terminal' content='1'>
<meta name="aplus-touch" content="1"/>
<title>快抢啊</title>
<link rel="stylesheet" type="text/css" href="/static/css/amazeui.min.css">

<style type="text/css">

#wrapper{
  padding: 10px;
  margin-top: 50px;
}

#ms{
  margin-top: 50px;
  width: 100%;
}

</style>


<div id="wrapper">
   <form method="post" action="." name="go" class="am-form">{% csrf_token %}
        <input id="check_result" value="{{ reuslt }}" type="hidden">
        <label for="result">请听题 {{ puzzle }}</label>
        <input name="result" size="7" id="result" type="text" placeholder="答对了才有礼噢">
        <br>
        <label for="result">请输入手机号码</label>
        <input name="phone" id="phone" type="text" placeholder="不要乱输噢">
        <input name="sub" value="快抢啊！" class="am-btn am-btn-secondary am-radius" onclick='return checkinput();' id="ms" type="submit">
  </form>
</div>



<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    function checkinput() 
    { 
        if(!check_puzzle())
        {
            return false;
        }
        if(!check_phone())
        {
            return false;
        }
        return true;
  
    }
    
    function check_puzzle() 
    { 
        var check = document.getElementById("check_result");
        var result = document.getElementById("result");
        if (result.value == check.value)
        {
            return true;
        }
        else
        {
            window.alert("你数学是体育老师教的吗，亲 ^_^");
            return false;
        }
  
    }
    
    function check_phone() 
    { 
        var check = document.getElementById("phone");
        if (check.value && !isNaN(check.value) && check.value.length == 11)
        {
            return true;
        }
        else
        {
            window.alert("请输入正确的手机号码");
            return false;
        }
  
    }
    
</script>
</body>
</html>
